@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Nohemi;
    src: url("./font/Nohemi/Nohemi-Regular-BF6438cc58b98fc.otf");

}

@font-face {
    font-family: Geist;
    src: url("./font/Geist/Geist-Regular.ttf");
}


.geist-font {
    font-family: Geist;
}

.nohemi-font {
    font-family: Nohemi;
}


